<footer>
  <div class="row">
    <div class="small-12 column footer-image">
      <h1>
        <%= image_tag(image_path_for("logo_header.png"), alt: setting["org_name"]) %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-5 column">
      <h2 class="footer-title"><%= setting["org_name"] %></h2>

      <p class="info">
        <%= sanitize(content_block("footer", I18n.locale)) %>
      </p>
    </div>

    <div class="small-12 medium-5 column social">
      <h2 class="footer-title"><%= t("layouts.footer.contact_title") %></h2>

      <p>
        <span class="far fa-envelope"></span>
        <%= mail_to t("layouts.footer.contact_email") %>
      </p>
    </div>
  </div>

  <div class="subfooter row">
    <div class="margin subfooter-image">
      <%= image_tag(image_path_for("bg_footer.png"), alt: "") %>
    </div>

    &copy; <%= t("layouts.footer.copyright", version: "1.3.1", year: Time.current.year) %>
    <ul class="no-bullet">
      <li><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
      <li><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
      <li><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %>&nbsp;|</li>
    </ul>
  </div>
</footer>
